<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208962584696-d8c54m3irs4jph04tm4p59of4dgu4kl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208962584696-d8c54m3irs4jph04tm4p59of4dgu4kl3</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVwM8r1Dq6vXndccweRYfFnHZ9xwijEg</string>
	<key>GCM_SENDER_ID</key>
	<string>208962584696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srochelet.Eventissimo</string>
	<key>PROJECT_ID</key>
	<string>eventissimo-4f454</string>
	<key>STORAGE_BUCKET</key>
	<string>eventissimo-4f454.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208962584696:ios:b90f5144a5fd2903ddad8d</string>
</dict>
</plist>